
<!DOCTYPE html>
<html>

<head>
  <title>F1 Tracker</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>


<body>
  
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper #c62828 red darken-3">
        <a href="" class="brand-logo left">F1 Tracker</a>
        <ul class="right">
          <li>
            <% if (user) { %>
              <a href="/logout"><>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<section class="row">
<aside class="col s3">
  <% if (user) { %>
    
  <h3>Welcome <%= user.name %></h3>
  <div><a href="/teams/<%= user._id %>/edit">Change Name</a></div>
  <div class="card hoverable">
      <div class="card-content">
  <table>
    <thead>
      <tr>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% user.teams.forEach(function(t) { %>
        <tr>
          <td><%= t.name %></td>
          <td><%= t.nationality %></td>
          <td><a class="waves-effect waves-light blue btn-small right" href="/teams/<%= t._id %>">See Stats</a></td>

         <td><form action="/teams/<%= t._id %>?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn-floating scale-transition red right" type="submit">X</button>
          </form></td>
        
          
          
        </tr>
     <% }); %>
    </tbody>
  </table>
    <a href="/teams/new" id="addTeam" class="waves-effect waves-light blue btn">Add New Team</a>
    </div>
    </div>

    <br><br>

    <div class="card hoverable">
        <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>Drivers</th>
            </tr>
          </thead>
          <tbody>
            <% user.drivers.forEach(function(d) { %>
              <tr>
                <td><%= d.familyName %></td>
                <td><%= d.givenName %></td>
                <td><a class="waves-effect waves-light blue btn-small right" href="/teams/<%= d._id %>/drivers">See Stats</a></td>
                <td><form action="/teams/<%= d._id %>/drivers?_method=DELETE" method="POST">
                  <button class="waves-effect waves-light btn-floating scale-transition red right" type="submit">X</button>
                </form></td>
              </tr>
      
           <% }); %>
          </tbody>
        </table>
        <a href="/drivers/new" id="addDriver" class="waves-effect waves-light blue btn">Add Driver</a>
        </div>
    </div>


    
  <% } else { %>
<div class="container">

  <h3>Log in to add favorites</h3>
      <h5>F1 tracker is an app that allows the user to keep track of their selected teams and drivers that compete in the Formula 1 World Championship. The user is able to select and add teams/drivers to their profile that is created when logged in. The user is then able to see live updates of each teams/drivers stats after every race. The user is also able to remove teams/drivers from their profile.</h5>
</div>    
 <% } %>
</aside>
<main class="col s9 center">

  
     <div class="container">
       <% if (driverData) { %>
        <div class="row center">
            <div class="col s4">
              <h5>Season: <%= driverData.season %></h4>
            </div>
            <div class="col s4">
                <h5>Circuit: <%= driverData.raceName %></h4>
            </div>
            <div class="col s4">
              <h5>Round: <%= driverData.round %></h4>
            </div>
        </div>
        <div class="row center">

            <h5>Results</h5>
            <table class="striped">
              <thead>
                <tr>
                  <th>Position</th>
                  <th>Driver</th>
                  <th>Team</th>
                  <th>Status</th>
                  <th>Fastest Lap</th>
                  <th>Points</th>
                </tr>
              </thead>
              <% driverData.Results.forEach(function(i) { %>
                  <tr>
                    <td><%= i.position %></td>
                    <td><%= i.Driver.familyName %></td>
                    <td><%= i.Constructor.name %></td>
                    <td><%= i.status %></td>
                    <td><%= i.FastestLap.Time.time %></td>
                    <td><%= i.points %></td>
                  </tr>
             <% }); %>
            </table>

        </div>
         
 	    <% } else { %>
 	      <h3>
 	        No Data!
 	      </h3>
 	    <% } %>
     </div>
 

</main>

</section>



<footer class="page-footer #c62828 red darken-3">
  <div class="container">
    <div class="row">
      <div class="col s7">
        <h5>text</h5>
        <p>text</p>
      </div>
      <div class="col s3">
          <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="">GitHub</a></li>
              <li><a class="grey-text text-lighten-3" href="">Linkedin</a></li>
            </ul>
      </div>
    </div>
  </div>
</footer>


      
      
</body>
